.Legend {
    font-weight: bold;
    font-size: 12px;
    font-family: "Helvetica";
    white-space: pre-line;
    text-align: left;
    position: absolute;
    right: 2px;
    top: 2px;
    width: 215px;
}

.Curve {
    text-align: center;
    border-style: solid;
    height: 12px;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 6px;
    border-right-width: 6px;
}

.StripToolPlot {
    width: 80%;
    left: 2px;
    position: absolute;
}